
@import url(https://fonts.google.com/specimen/Young+Serif);
@import url(https://fonts.google.com/specimen/Outfit);
body {
    background-color: hsl(30, 54%, 90%);
}
p, li, td {
    font-family: Young, sans-serif;
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}
.container {
    width: 40rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    padding: 2.5rem;
}
li {
    line-height: 150%;
}

img {
    width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}
.preparation {
    background-color: hsl(30, 18%, 87%);
    border-radius: 10px;
    padding: 1rem;
}

li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 500;
}

