body {
    background-color: hsl(330, 97%, 54%);
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
background-color: hsl(0, 0%, 100%);
border-radius: 20px;
width: 60rem;
margin: 10%;
}